PGUSER=postgres
PGPASSWORD=postgres
PGHOST=localhost
PGPORT=5433
PGDATABASE=dashdb
CURRENT_RMS_SUBDOMAIN=nyed
# CURRENT_RMS_API_KEY=replace-me
# DATABASE_URL=postgresql://postgres:postgres@localhost:5433/dashdb
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=replace-me
